Repository dotnet/installer, pull requests merged in 2022-11, with the labels that each got.

#14836 Ensure finalizer only runs when no matching SDK feature bands are installed
  src/finalizer/finalizer.cpp
  src/redist/targets/packaging/windows/clisdk/bundle.wxs
Labels: Servicing-approved

#14930 Update to .NET 7 GA MAUI manifests
  eng/Versions.props
Labels: Servicing-consider

#14647 BundledVersions: update portable rid logic.
  src/SourceBuild/tarball/content/repos/installer.proj
  src/redist/targets/GetRuntimeInformation.targets
Labels: Servicing-approved

#14792 Enabled source-building with mono runtime on any architecture.
  eng/SourceBuild.props
  src/SourceBuild/tarball/content/Directory.Build.props
  src/SourceBuild/tarball/content/build.sh
  src/SourceBuild/tarball/content/repos/Directory.Build.props
Labels: Area-SourceBuild

#14938 source-build: stop overriding aspnetcore version
  src/SourceBuild/tarball/content/Directory.Build.props
  src/SourceBuild/tarball/content/tools-local/init-build.proj
Labels: Area-SourceBuild

#14963 [release/6.0.1xx] Add CI for security-partners-dotnet
  src/SourceBuild/Arcade/eng/common/templates/job/source-build-build-tarball.yml
  src/SourceBuild/tarball/content/eng/pipelines/security-partners-dotnet.yml
Labels: Area-SourceBuild

#15007 [release/7.0.1xx] Add CI for security-partners-dotnet
  src/SourceBuild/Arcade/eng/common/templates/job/source-build-build-tarball.yml
  src/SourceBuild/tarball/content/eng/pipelines/security-partners-dotnet.yml
Labels: Area-SourceBuild

#15061 Add source-build patches for nuget-client's NuGet configs
  src/SourceBuild/tarball/patches/nuget-client/0001-Remove-non-compliant-feeds-NuGet.configs.patch
Labels: Area-SourceBuild
