Repository dotnet/installer, pull requests merged in 2023-06, with the labels that each got.

#15765 Add alpine source build CI leg
  eng/pipelines/templates/stages/vmr-build.yml
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/DotNetHelper.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/Microsoft.DotNet.SourceBuild.SmokeTests.csproj
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/OmniSharpTests.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/SdkContentTests.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/SourceBuiltArtifactsTests.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/Utilities.cs
Labels: Area-SourceBuild

#16576 Enable per repo pvp for vstest in source build
  src/SourceBuild/content/repo-projects/vstest.proj
Labels: Area-SourceBuild

#16631 Eliminate remaining source-build poisons
  eng/pipelines/templates/jobs/vmr-build.yml
  src/SourceBuild/content/build.proj
  src/SourceBuild/content/eng/tools/tasks/Microsoft.DotNet.SourceBuild.Tasks.LeakDetection/CheckForPoison.cs
  src/SourceBuild/content/repo-projects/dotnet.proj
  src/SourceBuild/content/repo-projects/razor.proj
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/Config.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/PoisonTests.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/assets/baselines/PoisonUsage.txt
  src/SourceBuild/patches/razor/0001-Add-System.Collections.Immutable-package-dependency.patch
Labels: Area-SourceBuild

#16635 Update debpkg leg to use the Ubuntu 22.04-based image
  .vsts-ci.yml
Labels: Area-Infrastructure

#16641 update snapcraft auth for june releases
  src/snaps/dotnet-sdk-6.0/snap/snapcraft.yaml
  src/snaps/dotnet-sdk-7.0/snap/snapcraft.yaml
  src/snaps/dotnet-sdk-8.0/snap/snapcraft.yaml
Labels: Area-Setup

#16692 Address all known SDK differences
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/assets/SdkDiffExclusions.txt
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/assets/baselines/MsftToSbSdk.diff
Labels: Area-SourceBuild

#16774 Remove SHA1 workarounds from VMR build
  eng/pipelines/templates/jobs/vmr-build.yml
  eng/pipelines/templates/stages/vmr-build.yml
Labels: Area-SourceBuild

#16756 switch to Ubuntu image in arm64 SB leg
  eng/pipelines/templates/stages/vmr-build.yml
Labels: Area-SourceBuild
