Repository dotnet/installer, pull requests merged in 2023-11, with the labels that each got.

#13074 [release/6.0] Add alpine to CI for source-build
  src/SourceBuild/Arcade/eng/common/templates/job/source-build-build-tarball.yml
  src/SourceBuild/Arcade/eng/common/templates/job/source-build-run-tarball-build.yml
Labels: Area-SourceBuild

#17672 Re-enable SB tests
  src/SourceBuild/content/build.proj
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/ArtifactsSizeTest.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/BasicScenarioTests.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/DebugTests.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/DotNetFormatTests.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/DotNetWatchTests.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/LicenseScanTests.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/Microsoft.DotNet.SourceBuild.SmokeTests.csproj
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/OmniSharpTests.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/PoisonTests.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/SdkContentTests.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/SourcelinkTests.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/WebScenarioTests.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/assets/online.NuGet.Config
Labels: Area-SourceBuild

#17370 Split current CI pipline
  eng/pipelines/templates/jobs/vmr-build.yml
  eng/pipelines/templates/stages/vmr-build.yml
  src/SourceBuild/content/eng/Versions.props
  src/SourceBuild/content/eng/pipelines/ci-lite.yml
  src/SourceBuild/content/eng/pipelines/ci.yml
  src/SourceBuild/content/prep.sh
Labels: Area-SourceBuild

#17600 Add coherent dependency for emsdk on runtime and run an coherency update
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Labels: Servicing-approved

#17601 Enable coherency dependency flow for emsdk
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Labels: Servicing-approved

#17819 Use unique non-stable SDK version for comparison test
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/SourceBuiltArtifactsTests.cs
Labels: Area-SourceBuild

#17761 Fix the minimum version logic to take into account that we're off-by-one for the 100 release
  src/redist/targets/GenerateMSIs.targets
Labels: Servicing-approved, untriaged
