Repository dotnet/installer, pull requests merged in 2023-09, with the labels that each got.

#17294 Remove manual Windows SDK KnownFrameworkReference items
  src/redist/targets/GenerateBundledVersions.targets
Labels: Area-NetSDK

#17313 Skip BasicScenarioTests.cs and WebScenarioTests.cs for PublishComplex action
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/BasicScenarioTests.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/DotNetHelper.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/WebScenarioTests.cs
Labels: Area-SourceBuild

#17233 Add source build artifacts size tests
  eng/pipelines/source-build-sdk-diff-tests.yml
  eng/pipelines/templates/jobs/sdk-diff-tests.yml
  eng/pipelines/templates/steps/download-pipeline-artifact.yml
  eng/pipelines/templates/steps/download-vmr-artifact.yml
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/ArtifactsSizeTest.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/BaselineHelper.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/Config.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/SkippableFactAttribute.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/SkippableTheoryAttribute.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/Utilities.cs
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/assets/baselines/ArtifactsSizes/centos.8-x64.txt
Labels: Area-SourceBuild

#17406 Add Workload
  eng/Versions.props
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/assets/SdkFileDiffExclusions.txt
  src/redist/targets/BundledManifests.targets
Labels: Servicing-approved

#17259 Run dotnet watch in non-interactive mode during tests
  src/SourceBuild/content/test/Microsoft.DotNet.SourceBuild.SmokeTests/DotNetWatchTests.cs
Labels: Area-SourceBuild

#17438 Include full path in poison report
  src/SourceBuild/content/build.proj
  src/SourceBuild/content/eng/tools/tasks/Microsoft.DotNet.SourceBuild.Tasks.LeakDetection/CheckForPoison.cs
Labels: Area-SourceBuild
