Repository dotnet/installer, pull requests merged in 2023-01, with the labels that each got.

#15163 Force /p:PortableBuild=true, for cases where we overrode the RID.
  src/SourceBuild/content/repo-projects/aspnetcore.proj
Labels: Area-SourceBuild

#15265 Remove unused legacy PB_ properties
  src/SourceBuild/content/repo-projects/Directory.Build.props
  src/SourceBuild/content/repo-projects/sdk.proj
Labels: Area-SourceBuild

#15223 Mirror `CONTRIBUTING.md` from runtime into the VMR root
  src/SourceBuild/content/CONTRIBUTING.md
Labels: Area-SourceBuild

#15226 Add a script for exporting VMR as a source archive
  src/SourceBuild/content/eng/bootstrap/README.template.md
  src/SourceBuild/content/eng/pack-sources.sh
  src/redist/targets/GenerateMSIs.targets
Labels: Area-SourceBuild

#15230 Fix VMR synchronization from a local source
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
  eng/vmr-sync.sh
Labels: Area-SourceBuild

#15039 [release/7.0.1xx] repos/sdk.proj: set NativeAotSupported=false on arm platform
  src/SourceBuild/tarball/content/repos/sdk.proj
Labels: Area-SourceBuild

#15308 Tag the official VMR build with installer SHA
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
  src/SourceBuild/content/eng/pipelines/ci.yml
  src/SourceBuild/content/eng/pipelines/templates/stages/vmr-scan.yml
Labels: Area-SourceBuild

#15164 [release/7.0.1xx] Add CI for building with N-1 source-built SDK
  eng/Versions.props
  src/SourceBuild/Arcade/eng/common/templates/job/source-build-build-tarball.yml
  src/SourceBuild/Arcade/eng/common/templates/job/source-build-run-tarball-build.yml
  src/SourceBuild/tarball/content/eng/pipelines/security-partners-dotnet.yml
Labels: Area-SourceBuild

#15324 Update source-build artifacts
  eng/pipelines/templates/stages/vmr-build.yml
  src/SourceBuild/content/Directory.Build.props
  src/SourceBuild/content/eng/Versions.props
  src/SourceBuild/content/eng/bootstrap/buildBootstrapPreviouslySB.csproj
  src/SourceBuild/content/repo-projects/Directory.Build.targets
  src/SourceBuild/patches/sourcelink/0001-command-line-api-updates.patch
Labels: Area-SourceBuild

#15366 [main] Fix MonoToolchain.Current naming and Update dependencies from dotnet/emsdk and dotnet/sdk
  Directory.Build.props
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  src/redist/targets/BundledManifests.targets
  test/EndToEnd/ProjectBuildTests.cs
Labels: Area-Workloads, Area-Codeflow

#15380 Work around the feature band breakage for now
  src/redist/targets/BundledManifests.targets
Labels: Area-Workloads
