Repository dotnet/installer, pull requests merged in 2024-01, with the labels that each got.

#18111 [release/8.0.1xx] Use SHA256 for RPM digest
  src/core-sdk-tasks/BuildFPMToolPreReqs.cs
Labels: Servicing-approved

#18215 Remove source-build sourcelink snupkg workaround
  src/SourceBuild/content/repo-projects/Directory.Build.props
Labels: Area-SourceBuild

#18153 Disable inner-clone in product source-build
  src/SourceBuild/content/Directory.Build.targets
  src/SourceBuild/content/eng/build.sourcebuild.targets
  src/SourceBuild/content/repo-projects/Directory.Build.targets
  src/SourceBuild/content/repo-projects/package-source-build.proj
  src/SourceBuild/content/repo-projects/source-build-externals.proj
  src/SourceBuild/content/repo-projects/source-build-reference-packages.proj
  src/SourceBuild/patches/arcade/0001-Disable-inner-clone-in-product-source-build.patch
Labels: Area-SourceBuild

#18339 Updating Aspire manifest to 9.0 version
  eng/Version.Details.xml
  eng/Versions.props
  src/redist/targets/BundledManifests.targets
Labels: Area-Codeflow
